<a href="https://colab.research.google.com/github/umesh-thatikonda/MissionRnD_python-course/blob/master/wk_2_problem1_solved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

---
# Welcome to CE880
### This is your week-2 : Problem 1 notebook

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

---
## Question 1:

Write a function to pass a list of numbers and return log10 of the array. 
`Hint`: take input as list and inside the function covert it into numpy array then perform the function. `Example` : input `[1, 100, 1000]` and and output should be:  `[0, 2, 3]`

In [1]:
import numpy as np
import math
def myLog(mylist):
    """Write a function to pass a list of numbers and return log10 of the array. """
    # YOUR CODE HERE
    return [math.log(i,10) for i in mylist]

In [2]:
in_array = [1, 100, 1000]
myLog(in_array)

[0.0, 2.0, 2.9999999999999996]

In [3]:
"""Check your output"""
# Test case 1
in_array = [1, 3, 5, 10**8]
mynplist = np.array([0, 0.47712125, 0.69897 , 8.])
np.allclose(myLog(in_array), mynplist)

# Test case 2
in_array = in_array = [1, 100, 1000]
mynplist = np.array([0., 2., 3.])
np.allclose(myLog(in_array), mynplist)

True

---

## Question 2:

The Fibonacci numbers are the numbers in the following integer sequence.
`[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...]`
In mathematical terms, the sequence $F_n$ of Fibonacci numbers is defined by the recurrence relation 
$$
F_n = F_n-1 + F_n-2
$$
with seed values  
$$
 F_0 = 0 \& F_1 = 1.
$$
Your task here is to write a code for printing $n^{th}$ Fibonacci number
`Example`: Input: `myfibonacci(9)` and Output should be `34`

In [4]:
def myfibonacci(n):
    """Function for nth Fibonacci number"""
    # YOUR CODE HERE
    if n ==0:
        return 0
    if n==1:
        return 1
    if n==2 :
        return 1
    return myfibonacci(n-1) + myfibonacci(n-2)

In [5]:
myfibonacci(0)

0

In [6]:
"""Check that correct fibonacci number"""
assert myfibonacci(9) == 34
assert myfibonacci(7) == 13
assert myfibonacci(1) == 1
assert myfibonacci(0) == 0

---
## Question 3: 

 Write a program, which accept 2D array with `nan` and replace all `nan` with `-10`.

In [16]:
from typing_extensions import runtime
import numpy as np
def rem_Nan(A):
    """Write a program, which accept 2D array with nan and replace all nan with -10"""
    z = np.nan_to_num(A, nan=-10)
    # YOUR CODE HERE
    return z

In [18]:
arr1 = np.array([[1,2,3],[3,np.nan,3]])
arr2 = np.array([[1,2,3],[3,-10,3]])
rem_Nan(arr1)
assert np.allclose(rem_Nan(arr1), arr2)

In [19]:
"""Write a program, which accept 2D array with nan and replace all nan with -10"""
# Test Case 1
arr1 = np.array([[1,2,3],[3,np.nan,3]])
arr2 = np.array([[1,2,3],[3,-10,3]])
assert np.allclose(rem_Nan(arr1), arr2)

# Test Case 2
arr3 = np.array([[np.nan,2,np.nan],[3,np.nan,3]])
arr4 = np.array([[-10,2,-10],[3,-10,3]])
assert np.allclose(rem_Nan(arr3), arr4)